[submodule "man_softmax"]
	path = man_softmax
	url = ../man_softmax.git
[submodule "lru-memoize-project"]
	path = lru-memoize-project
	url = ../lru-memoize-project.git
[submodule "roundtable"]
	path = roundtable
	url = git@github.com:oblivion113/roundtable.git
